<main class="main-content">
    <h1 class="text-center">Login</h1>
    <hr class="bg-resev hr-2"/>
    <form class="w-40 mx-auto" th:method="post" th:action="@{/login}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password" required>
        </div>
        <div class="button-holder d-flex justify-content-around">
            <button type="submit" class="btn btn-primary bg-resev">Login</button>
        </div>
    </form>
</main>