<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-resev">
        <a class="navbar-brand text-white" href="/home">Resident Evil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav functional-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/home">Home</a>
                </li>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/register">Register</a>
                    </li>
                </th:block>
                <th:block sec:authorize="!isAnonymous()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke">
                            Viruses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN', 'MODERATOR', 'USER')">
                                <a class="dropdown-item" href="/virus/all">Show</a>
                            </th:block>
                            <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN', 'MODERATOR')">
                                <a class="dropdown-item" href="/virus/create">Add</a>
                            </th:block>
                        </div>
                    </li>
                    <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/user/all">Users</a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
            <th:block sec:authorize="!isAnonymous()">
                <ul class="navbar-nav user-data-nav">
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button type="submit" class="btn border-0 px-0 btn-link nav-link text-light" href="/logout">Logout</button>
                        </form>
                    </li>
                </ul>
            </th:block>
        </div>
    </nav>
</th:block>